* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
  z-index: 50;
  text-align: center;
  color: white;
  font-size: 7vw;
  font-family: alternate 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}

.body{
    position: absolute;
    top: 0;
	left: 0;
    font-family: Roboto, Arial;
    z-index: 0;
}

.HD-underconstruction{
    background: linear-gradient(to right, #270840, #734e94);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}


.underconstruction_text{
    position: absolute;
    font-size: 7vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: alternate 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    z-index: 50;
}

.Social_Media_Group {
    position: fixed;
    bottom: 6vw;
    right: 0;
    margin-bottom: 20px; 
    margin-right: 20px;
    display: flex;
}

.twitter_button { 
  width: 50px; 
  height: 50px; 
  background-color: #ffffff; 
  border-radius: 50%;
  margin-right: 15px;
  padding: 8px;
  } 
 
.twitter_icon { 
  width: 34px; 
  height: auto;
} 

.twitter_border {
  top: 40px;
  left: 40px;
}

.facebook_button { 
  margin-top: 1px;
  margin-left: 1px;
  width: 48px; 
  height: 48px; 
  border-radius: 50%;
  margin-right: 15px;
  } 
 
.facebook_icon { 
  margin-top: 0px;
  margin-left: 0px;
  width: 50px; 
  height: auto;
} 

.facebook_border {
  top: 40px;
  left: 40px;
}

.linkedin_button { 
  width: 45px; 
  height: 45px; 
  background-color: #ffffff; 
  border-radius: 10%;
  margin-right: 20px;
  } 
 
.linkedin_icon { 
  margin-top: 0px;
  margin-left: 0px;
  width: 60px; 
  height: auto;
} 

.linkedin_border {
  top: 40px;
  left: 40px;
}

.tiktok_button { 
  width: 45px; 
  height: 45px; 
  border-radius: 10%;
  margin-right: 10px;
  } 
 
.tiktok_icon { 
  margin-top: 0px;
  margin-left: 0px;
  width: 40px; 
  height: auto;
} 

.tiktok_border {
  top: 40px;
  left: 40px;
}

.yt_button { 
  width: 45px; 
  height: 45px; 
  border-radius: 10%;
  margin-right: 25px;
  } 
 
.yt_icon { 
  margin-top: 0px;
  margin-left: 0px;
  width: 68px; 
  height: auto;
} 

.yt_border {
  top: 40px;
  left: 40px;
}

.legals1 {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 6vw;
  width: 100%;
}

.legals2 {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 2vw;
  width: 100%;
}
